h2{
  background-color: red;
}
#id1{
  background-color: gray ;
  padding: 10px;
  color: white;
}
h3{
  background-color: yellow;
}
#id2{
 background-color: gray;
}
body{
  background-color: white;
}
#id3{
  background-color: #C21D1D;
  color:white;
  align-items: center;
}
#id4{
  background-color: black;
}
.wc{
  width: 7
}

.tbm{
  background-color: white;
}
